# This is a basic workflow to help you get started with Actions

name:  Docker Image Demo

on:
  
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v1
 
    - run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
    - name: Build the Docker image
      run: docker build . -f Dockerfile -t demo
   
    - name: Docker push
      run: docker push ${{secrets.DOCKER_USER}}/mupadh/test:demo
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
 
   

